main{
  min-height: 700px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  background-color: #cbccbd;
}

section{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Form di Ricerca */

#search-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-label{
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#search-input{
  width: 100%;
}

#search-input, #search-button, #result-button{
  display: block;
  margin: 20px 0px;
  border: 0px;
  border-radius: 10px;
  padding: 10px 0px;
  font-size: 20px;
  font-family: inherit;
  text-align: center;
}

#search-button, #result-button{
  width: 60%;
  display: inline;
  text-transform: uppercase;
  transition: opacity 0.15s;
  cursor: pointer;
}

#search-button:hover, #result-button:hover{
  opacity: 0.5;
}

#search-button:active, #result-button:active{
  opacity: 1;
}

#search-loading{
  width: 100%;
  display: none;
  border-radius: 10px;
  background-color: #c1b8a3;
}

#loading-pointer{
  width: 100px;
  height: auto;
  border-radius: 10px;
  padding: 5px 0px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #cbccbd;
}

#seach-result{
  display: none;
  width: 100%;
  margin: 40px 0px;
}

#result-header{
  background-color: #c1b8a3;
  font-size: 20px;
  text-transform: uppercase;
}

#result-header th{
  border-radius: 10px;
  padding: 15px;
}

.result-item td{
  max-width: 166px;
  padding: 10px 0px;
}


/* Descrizione */

#book-description{
 width: 100%;
 margin-top: 20px;
}

#book-description h2{
  margin-bottom: 20px;
  text-transform: uppercase;
}

#book-description label, #book-description span{
  display: inline-block;
  margin-bottom: 15px;
}

#book-description p{
  line-height: 2em;
}

.result-title{
  border: 0px;
  background: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
