*{
  margin: 0px;
  padding: 0px;
  font: Georgia, Serif;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

footer{
  text-align: center;
  padding: 20px 0px;
  background-color: #a36370;
  color: #b6897a;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
